/*menu*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style: none;
    height: 40px;
    background-color: black;
    
}
nav ul li{
    
    display: inline;
    margin: 15px;
    background-color: black;
    
}
nav ul li a{
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(100, 100, 13);
    transition: background .3s;
}nav ul li a:hover{
    background-color: rgb(100, 100, 13);
    color: black;
}