
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 162, 162);
}
header{
    line-height: 250px;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 250px;
    position: relative;
    background: red;
}
nav{
    position: relative;
    top: -250px;
    
}
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 30px;
    
}nav ul li a:hover{
    color: rgb(112, 82, 26);
}
nav ul li{
    display: inline;
    padding: 55px;
}
nav ul{
    list-style-type: none
    ;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    text-align: left;
}
.fotoDireita{
    float: right;
}
h1{    
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.fotoEsquerda{
    float: left;
}
.fotoSumerios{
    float: left;
    height: 100px;
    width: 75px;
}
.estiloLink{
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 30px;
}.estiloLink:hover{
    color: brown;
}
.estiloLinks{
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    font-size: 15px;
}.estiloLinks:hover{
    color: green;
}
footer{
    bottom: -178px;
    width: 100%;
    height: 40px;
    background: rgb(94, 93, 93);
    color: orange;
    text-align: center;
    line-height: 40px;
    position: absolute;
    display: block;
}